@model List<MenuViewModel>
@{
    string currentUrl = Context.Request.Path.Value;
    RenderMenus(null, 1);
}


    
    @functions
{
    // Implemented recursive dynamic menu rendering with parent-child hierarchy support.

    //  Added RenderMenus recursive method
    //  Generated unlimited nested submenu structure
    //  Added parent-child menu traversal using ParentID
    //  Applied menu sorting by DisplayOrder
    //  Added child existence validation using Any()
    //  Displayed icons only for top-level menus
    //  Added default icon fallback using null coalescing operator
    //  Supported dynamic URL navigation for leaf menus

    void RenderMenus(int? parentId, int menuLevel)
        {
            var menus = Model
                .Where(x => x.ParentID == parentId)
                .OrderBy(x => x.DisplayOrder);

            foreach (var menu in menus)
            {
                var hasChildren = Model.Any(x => x.ParentID == menu.MenuID);

                if (hasChildren)
                {
                    if (menuLevel == 1)
                    {
                        // MASTER MENU (LEVEL 1) - has icon
                        <li>
                            <ul>
                                <li class="submenu">
                                    <a href="javascript:void(0);">
                                        <i class="@(menu.MenuIcon ?? "ti ti-box")"></i>
                                        <span>@menu.MenuName</span>
                                        <span class="menu-arrow inside-submenu"></span>
                                    </a>
                                    <ul>
                                        @{
                                            RenderMenus(menu.MenuID, menuLevel + 1);
                                        }
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    }
                    else if (menuLevel == 2)
                    {
                        // SUB MENU (LEVEL 2) - no icon
                        <li class="submenu">
                            <a href="javascript:void(0);">
                                <span>@menu.MenuName</span>
                                <span class="menu-arrow inside-submenu"></span>
                            </a>
                            <ul>
                                @{
                                    RenderMenus(menu.MenuID, menuLevel + 1);
                                }
                            </ul>
                        </li>
                    }
                    else
                    {
                        // SUB-SUB MENU (LEVEL 3+) - deeper nested class
                        <li class="submenu submenu-two">
                            <a href="javascript:void(0);">
                                <span>@menu.MenuName</span>
                                <span class="menu-arrow inside-submenu"></span>
                            </a>
                            <ul>
                                @{
                                    RenderMenus(menu.MenuID, menuLevel + 1);
                                }
                            </ul>
                        </li>
                    }
                }
                else
                {
                    // LEAF NODE (final clickable link) - class depends on level too
                    <li class="@(menuLevel >= 3 ? "submenu-two" : "")">
                        <a href="@menu.MenuURL">
                            @if (menuLevel == 1)
                            {
                                <i class="@(menu.MenuIcon ?? "ti ti-box")"></i>
                            }
                            <span>@menu.MenuName</span>
                        </a>
                    </li>
                }
            }
        }
    }


